.navbar{
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  "logo .";
  background-color: black;
  text-align: center;
  align-self: center;
  font-size: 1rem;
}
.navbar > a:not(.logo){
  display: none;
  text-decoration: none;
  color: white;
}
@media (min-width: 700px) {
  .navbar{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo .  home serviços contato";
    background-color: black;
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
    z-index: 2;
    position: fixed;
    width: 100%;
  }
  .navbar > a{
    text-decoration: none;
    color: white;
  }
}
.navbar .logo{
  grid-area: logo;
  display: block;
}
.navbar .home{
  grid-area: home;
  display: block;
}
.navbar .serviços{
  grid-area: serviços;
  display: block;
}
.navbar .contato{
  grid-area: contato;
  display: block;

color: white;
}

.navbar > :hover{
  text-decoration: none;
  background-color: grey;
}


body{
  margin: 0;
}
