@font-face{
	font-family: 'Menu';
	src : url("../_fonts/FuturaBk.ttf");
}

@font-face{
	font-family: 'Titulos';
	src : url("../_fonts/LuloBold.ttf");
}

@font-face{
	font-family: 'Textos';
	src : url("../_fonts/Raleway.ttf");
}

body{
	margin: 0;
	padding: 0;
}

img#logo{
	display: inline-block;
	margin-top: 2.0%;
	margin-left: 5%;
	width: 40px;
	height: 40px;
	filter: opacity(30%);
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

img#logo:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* Add a black background color to the top navigation */
div#myTopnav {
	position: fixed;
	display: inline-block;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}

div#myTopnav ul{
	list-style-type: none;
}

/* Style the links inside the navigation bar */
div#myTopnav li {
	margin-top : -60px;
	padding: 0;
}

div#myTopnav a {
	float: right;
	padding-right: 60px;
	text-align: center;
	text-decoration-line: none;
	font-size: 20px;
	font-family: 'Menu';
	color: #f2f2f2;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 1px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .4s ease, background-color .4s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a{
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user
	clicks on the icon. (display the links vertically instead of horizontally) */

	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		display: inline-block;
		text-align: right;
	}
}

div#Video {
	margin-top: -5px;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	height: 600px;
	overflow: hidden;
}

@media screen and (max-width: 400px) {
	div#Video{background-color: rgba(0,0,0,0.7);}
	img#logoGrande{
		margin-top: 30px;
		padding-left: 15%;
		display: inline-block;
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 400px) {
	div#Video{background-color: rgba(0,0,0,0.7);}
	img#logoGrande{
		margin-top: 0;
		padding-left: 20%;
		display: inline-block;
		width: 600px;
		height: 600px;
	}
}

video#mainvideo {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

section#Servicos{
	margin-top: 0;
	padding-bottom: 20px;
	width: 100%;
	background-color: rgb(66, 72, 77);
	/* overflow: hidden; */
	/* z-index: 99; */
}

section#Servicos span#maior{
	display: inline-block;
	width: 60px;
	height: 15px;
	margin-left: 200px;
	margin-top: 80px;
	background: rgb(82,93,170);
}

section#Servicos h1{
	display: block;
	margin-top: 10px;
	margin-left: 200px;
	color: white;
	font-size: 30pt;
	font-family: 'Titulos';
	letter-spacing: 1pt;
}

section#Servicos ul{
	display: inline-block;
	margin-top: 80px;
	margin-left: 220px;
	padding-left: 0px;
}

section#Servicos li span{
	display: inline-block;
	width: 40px;
	height: 10px;
	background: rgb(82,93,170);
	margin-bottom: 5px;
}

section#Servicos li{
	display: inline-block;
	font-size: 22px;
	font-weight: 900;
	margin-bottom: 70px;
	margin-right: 220px;
	letter-spacing: 0px;
	color: white;
	font-family: 'Textos';
}

section#Servicos a:hover {
	color : black;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {

	section#Servicos span#maior{
		display: inline-block;
		width: 35px;
		height: 9px;
		margin-left: 15%;
		margin-top: 40px;
	}

	section#Servicos h1{
		margin-top: 10px;
		margin-left: 15%;
		font-size: 20pt;
	}

	section#servicos ul{
		margin-top: 0px;
		margin-left: 18%;
	}

	section#Servicos li span{
		width: 10px;
		height: 6px;
		margin-bottom: 3px;
	}

	section#Servicos li {
		font-size: 15px;
		padding-bottom: 15px;
		padding-right: 5px;
	}
}
@media screen and (max-width: 600px) {

	section#Servicos span#maior{
		width: 35px;
		height: 9px;
		margin-left: 15%;
		margin-top: 30px;
	}

	section#Servicos h1{
		margin-top: 10px;
		margin-left: 15%;
		font-size: 15pt;
	}

	section#Servicos ul{
		margin-top: 0px;
		margin-left: 18%;
		padding-left: 0px;
	}

	section#Servicos li span{
		width: 10px;
		height: 6px;
		margin-bottom: 3px;
	}
	section#Servicos li {
		font-size: 13px;
		padding-bottom: 15px;
		padding-right: 5px;
	}
}

.box {
	position: relative;
	display: inline-block;
	padding-bottom: 6rem;
	align-items: start;

}
.box .detalheIcone {
	display: block;
	height: 0.5rem;
	width: 2rem;
	background: rgb(82,93,170);
}

.box-content {
	max-height: 9rem;
	display: none;
	position: absolute;
	background-color: #84898E;
	min-width: 160px;
	box-shadow: 0px 1px 16px 0px black;
	padding: 12px 16px;
	z-index: 1;
	top: -2rem;
	border-radius: .5rem;
	left: -5rem;
	right: 5rem;
	font-family: 'Textos';
	opacity: 0.8;
}
@media screen and (max-width: 768px){
	.box-content {

		left: -2rem;
		right: 2rem;
		font-family: 'Textos';
	}
}
@media screen and (max-width: 1024px){
	.box-content {

		left: -3rem;
		right: 3rem;
		font-family: 'Textos';
	}
}
.box:hover .box-content {
	display: block;
	max-height: 9rem;
	overflow: scroll;
}
/* "Modal informativo do menu SERVIÇOS" */
.servicesMenu{
	color: white;
	padding-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-left: 10rem;
	padding-right: 3rem;
	text-align: left;
	font-family: 'Titulos';
}
@media screen and (max-width: 450px) { /*  versão mobile dos menus */
	.servicesMenu{
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		padding-left: 6rem;
		padding-right: 6rem;
		text-align: left;

	}
}
@media screen and (max-width: 768px) and (min-width: 451px) { /*  versão tablet dos menus */
	.servicesMenu{
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		padding-left: 6rem;
		padding-right: 6rem;
		text-align: left;
	}
}
.servicesMenu .branding p {
	background-color: grey;
	display: none;

}
.servicesMenu .branding:focus p { /*menu aberto*/
	height:auto;
	display: block.
}
.servicesMenu .video p {
	display: none;
}
.servicesMenu:focus .video p { /*menu aberto*/
	height:auto;
	display: block.
}
.servicesMenu .marketing p {
	display: none;
}
.servicesMenu:focus .marketing p { /*menu aberto*/
	height:auto;
	display: block.
}
.servicesMenu .sites p {
	display: none;
}
.servicesMenu:focus .sites p { /*menu aberto*/
	height:auto;
	display: block.
}
section#About {
	width: 100%;
	padding-bottom: 100px;
	overflow: hidden;
	background-color: white ;
}
section#About span{
	display: inline-block;
	width: 60px;
	height: 15px;
	margin-left: 200px;
	margin-top: 80px;
	background: rgb(82,93,170);
}
section#About h1{
	display: block;
	margin-top: 10px;
	margin-left: 200px;
	color: black;
	font-size: 30pt;
	font-family: 'Titulos';
	letter-spacing: 1pt;
}
section#About img {
	float: right;
	width: 439px;
	height: 300px;
	margin-right: 200px;
	margin-left: 50px;
	margin-top: 5px;
}
section#About p {
	padding-top: 10px;
	margin-left: 200px;
	padding-right: 700px;
	font-size: 16pt;
	text-indent: 30px;
	font-family: 'Textos';
	text-align: justify;
	font-weight: bold;
}
/*tela com no max 600px */
@media screen and (max-width: 600px) {

	section#About{
		padding-bottom: 15px;
	}
	section#About span{
		margin-left: 15%;
		margin-top: 30px;
		width: 35px;
		height: 9px;
	}
	section#About h1{
		display: block;
		margin-top: 10px;
		margin-left: 15%;
		color: black;
		font-size: 17pt;
		font-family: 'Titulos';
	}
	section#About img{
		display: inline-block;
		width: 239px;
		height: 100px;
		margin-right: 20px;
		margin-left: 25px;
		margin-top: 5px;
		padding-bottom: 20px;
	}
	section#About p {
		margin-left: 20%;
		padding-right: 10%;
		font-size: 12pt;
		text-indent: 20px;
	}
}
/*tela entre 600px e 1100px */
@media screen and (min-width: 600px) and (max-width: 1100px) {

	section#About span{
		width: 35px;
		height: 9px;
		margin-left: 15%;
		margin-top: 40px;
	}

	section#About h1{
		margin-top: 10px;
		margin-left: 15%;
		font-size: 20pt;
	}

	section#About img{
		display: inline-flex;
		width: 339px;
		height: 180px;
		margin-right: 20px;
		margin-left: 25px;
	}
	section#About p {
		margin-left: 20%;
		padding-right: 10%;
		font-size: 15pt;
		text-indent: 20px;
	}
}/* Seção Portifólio */
section#Portfolio {
	background-color: white;
	margin-bottom: 0;
	padding-bottom: 0;
	overflow: hidden;
}
section#Portfolio span{
	display: inline-block;
	width: 60px;
	height: 15px;
	background: rgb(82,93,170);
	margin-left: 200px;
	margin-top: 80px;
}
section#Portfolio h1{
	margin-left: 200px;
	margin-top: 10px;
	font-size: 30pt;
	font-family: 'Titulos';
	color: black;
	letter-spacing: 1pt;
}
section#Portfolio ul{
	padding : 0;
	display: inline-block;
	font-size: 0;
	margin-top: 50px;
	list-style-type: none;
	width: 100%;
}
section#Portfolio li img {
	padding: 0;
	margin: 0;
	width: 337.2px;
	height : 300px;
}
section#Portfolio li{
	display: inline-block;
	transition: opacity 0.5s;
}
section#Portfolio img{
	position: relative;
	padding: 0;
	margin: 0;
	font-size: 0;

}
section#Portfolio li:hover {
	opacity: 0.6;
}
@media screen and (min-width : 600px) and (max-width: 1100px) {

	section#Portfolio span{
		display: inline-block;
		width: 35px;
		height: 15px;
		margin-top: 40px;
		margin-left: 15%;
	}
	section#Portfolio h1{
		margin-left: 15%;
		font-size: 20pt;
		font-family: 'Titulos';
		color: black;
	}
	section#Portfolio ul{
		padding : 0;
		font-size: 0;
		margin-top: 30px;
	}
	section#Portfolio li img {
		width: 337.2px;
		height : 300px;
	}
	section#Portfolio li img:hover{
		opacity: 0.6;
	}
}
@media screen and (max-width: 600px) {

	section#Portfolio span{
		width: 30px;
		height: 9px;
		margin-left: 15%;
		margin-top: 30px;
	}
	section#Portfolio h1{
		margin-left: 15%;
		margin-top: 10px;
		font-size: 15px
	}

	section#Portfolio ul{
		margin-top: 20px;
		margin-left: 20px;
	}

	section#Portfolio li img{
		width:100px;
		height: 100px;
		margin-right: 15%;
	}
}
section#Contato {
	clear: both;
	width: 100%;
	background-color: white;
	overflow: hidden;
	padding-bottom: 80px;
}
section#Contato span{
	display: inline-block;
	width: 60px;
	height: 15px;
	background: rgb(82,93,170);
	margin-left: 200px;
	margin-top: 80px;
}
section#Contato h1{
	margin-top: 10px;
	margin-left: 200px;
	font-size: 30pt;
	color: black;
	font-family: 'Titulos';
	letter-spacing: 1pt;
}
section#Contato form{
	margin-top: 40px;
	margin-left: 200px;
	font-size: 25px;
	color: black;
}
section#Contato form input{
	height: 35px;
	width: 400px;
	border: 2px solid black;
	margin-bottom: 5px;
	font-size: 22px;
}
section#Contato form textarea{
	display: inline-block;
	height : 100px;
	width: 400px;
	border: 2px solid black;
	font-size: 22px;
}
section#Contato input:focus, textarea:focus {
	border:1px solid #97d6eb;
}
section#Contato p{
	float: right;
	margin-right: 100px;
}
section#Contato button{
	display: inline-block;
	height: 35px;
	width: 90px;
	margin-top: 20px;
	font-weight: bold;
	border: 2px solid white;
	color: white;
	background-color: rgb(82,93,170);;
}
section#Contato button:hover {
	border: solid 1px black;
}
section#Contato p{
	float : right;
	margin-left: 40px;
	margin-top: -220px;
	font-size: 22px;
	font-color: black;
	font-weight: bold;
}
section#Contato .texto{
	height: 100px;
	text-align: top;
}
section#Contato p{
	float : right;
	font-size: 25px;
	color: black;
	margin-right: 450px;
}
/* Telas menores que 600px*/
@media screen and (max-width: 1100px) {

	section#Contato {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	section#Contato span{
		width: 35px;
		height: 9px;
		margin-left: 15%;
		margin-top: 20px;
	}

	section#Contato h1{
		margin-top: 10px;
		margin-left: 15%;
		font-size: 15pt;
	}

	section#Contato form{
		margin-top: 20px;
		margin-left: 15%;
		font-size: 20px;
	}

	section#Contato form input{
		display: inline-block;
		height: 60px;
		width: 250px;
		margin-bottom: 5px;
	}

	section#Contato form textarea{
		display: inline-block;
		height: 60px;
		width: 250px;
		margin-bottom: 5px;
	}

	section#Contato button{
		margin-top: 15px;
		border: 1px solid black;
		width: 250px;
	}

}
footer {
	background-color : black;
	height: 130px;
	overflow: hidden;
}
footer p {
	color: white;
	line-height: 28px;
	margin-left: 200px;
	font-size: 20px;
}
section#socialMedias img{
	float : right;
	width: 35px;
	height: 35px;
}
section#socialMedias img:hover {
section#socialMedias img#img1{
	margin-right: 400px;
	margin-top: -80px;
}
section#socialMedias img#img2{
	margin-top: -80px;
	padding-right: 350px;
}
section#socialMedias img#img3{
	margin-top: -80px;
	padding-right: 300px;
}
