  <nav class="navbar">
    <a href="#" class="logo">Logo</a>
    <a href="#" class="home">Home</a>
    <a href="#" class="serviços">Serviços</a>
    <a href="#" class="contato">Contato</a>
  </nav>
<link rel="stylesheet" type="text/css" href="css/main.css">
